.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    border-radius: 15px;
    font-size: 1.4rem;
    margin-top: 40px;
    padding: 10px;
  }
}
